<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- Daftar sumber paket -->
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="PTK Nuget" value="https://nuget-container.pertamina-ptk.com/v3/index.json" protocolVersion="3" />
  </packageSources>

  <!-- Mapping: paket mana diambil dari source mana -->
  <packageSourceMapping>
    <packageSource key="nuget.org">
      <!-- Paket publik -->
      <package pattern="Microsoft.*" />
      <package pattern="System.*" />
      <package pattern="Serilog.*" />
      <package pattern="Ocelot*" />
      <package pattern="xunit*" />
      <package pattern="coverlet.*" />
      <!-- Default: semua yang tidak tercakup di atas tetap ke nuget.org -->
      <package pattern="*" />
    </packageSource>

    <packageSource key="PTK Nuget">
      <!-- Paket privat internal -->
      <package pattern="PTK.*" />
      <package pattern="Pertamina.*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
